@import "tailwindcss";

@theme{
    --font-zainE: 'zainE';
    --font-zainB: 'zainB';
    --breakpoint-ip16: 430px;

}

@font-face {
  font-family: 'zainE';
  font-style: 'ExtraBold' ;
  font-weight: 800;
  src: url("../public/fonts/Zain/Zain-ExtraBold.ttf");
}

@font-face {
  font-family: 'zainB';
  font-style: 'Bold' ;
  font-weight: 700;
  src: url("../public/fonts/Zain/Zain-Bold.ttf  ");
}
